main {
  height: 57.2rem * $fact;
  width: 111rem * $fact;
  // Grid Properties
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 28.2rem * $fact 26.6rem * $fact;
  grid-gap: 3rem * $fact;
}
main > div {
  position: relative;
  padding: 2.4rem * $fact 3rem * $fact;
  box-shadow: 1rem 3rem 3rem color(light-gray);
  border-radius: 1rem;
  .intro {
    @include flex(flex-start, center);
    img {
      margin-right: 1rem;
      float: left;
      height: 3.4rem * $fact;
      width: 3.4rem * $fact;
      border-radius: 50%;
    }
  }
}

.daniel {
  position: relative;
  background-color: color(moderate-violet);
  grid-column: 1/3;
  grid-row: 1/2;
  .daniel-qoutes {
    position: absolute;
    top: 0;
    right: 8rem * $fact;
    pointer-events: none;
  }
  #daniel {
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
  .name {
    color: white;
  }

  .status,
  p {
    color: white;
  }

  h2 {
    color: white;
    position: relative;
  }
}
.jonathan {
  background-color: color(very-dark-grayish-blue);
  grid-column: 3/4;
  grid-row: 1/2;
  color: white;

  .name {
    color: white;
  }

  .status,
  p {
    color: white;
  }
}
.kira {
  background-color: white;
  grid-column: 4/5;
  grid-row: 1/3;
  .name {
    opacity: 1;
  }

  .status,
  p {
    opacity: 0.6;
  }
}
.harmon {
  background-color: white;
  grid-column: 1/2;
  grid-row: 2/3;
}
.patrick {
  background-color: color(very-dark-blackish-blue);
  grid-column: 2/4;
  grid-row: 2/3;
  color: white;
}

.name {
  font-weight: 500;
  font-size: 1.6rem * $fact;
  opacity: 1;
}

.status {
  font-weight: 500;
  font-size: 0.95rem;
}

.status,
p {
  opacity: 0.6;
}
